<h3>@Names @Lastnames</h3>
@FragmentAddress

@code {
    [Parameter]
    public string Names { get; set; }
    
    [Parameter]
    public string Lastnames { get; set; }

    [Parameter]
    public RenderFragment FragmentAddress { get; set; }
}