<h3>Component Address</h3>
<div>
    <h4>@Address.TypeAdress</h4>
    <h4>@Address.City</h4>
    <h4>@Address.Code</h4>
    <h4>@Address.Street</h4>
</div>
@code {
    [Parameter]
    public Address Address { get; set; }
}