@page "/multiple"
<h3>ParentMultipleRenderFragment</h3>
<CompRenderFragment>
    <Header>
        <h1>Card Title</h1>
    </Header>
    <Body>
        <h2>Card Body</h2>
    </Body>
    <Footer>
        <button class="btn btn-secondary">Save</button>
    </Footer>
</CompRenderFragment>